baseURL = "http://localhost:1313/opennotes/"
languageCode = "en"
title = "Open Notes"
theme = "shibui"

[params]
[[params.author]]
name = "Nagaraj"


[[params.social]]
name = "github"
url = "https://github.com/"

[menu]

  [[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

  [[menu.main]]
  name = "Projects"
  url = "/projects/"
  weight = 2

  [[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

  [[menu.main]]
  name = "About"
  url = "/about/"
  weight = 3
